/** @format */
@import "./var";

@font-face {
  font-family: "Sofia";
  src: url("../slt/fonts/SofiaProLight.woff");
  src: url("../slt/fonts/SofiaProLight.woff2");
  src: url("../slt/fonts/SofiaProRegular.woff");
  src: url("../slt/fonts/SofiaProRegular.woff2");
  src: url("../slt/fonts/SofiaProSemiBold.woff");
  src: url("../slt/fonts/SofiaProSemiBold.woff2");
}

._content {
  max-width: 90% !important;
  margin: auto !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* width */
  // scrollbar-width: 0px !important;
  scrollbar-width: thin !important;
  ::-webkit-scrollbar {
    width: 6px !important;
  }
  ::-webkit-scrollbar-thumb {
    background: darken($Blue, 10%);
  }
  scrollbar-track-color: lighten($LightBlue, 10%);
  ::-webkit-scrollbar-track {
    background: lighten($LightBlue, 10%);
  }
  overflow-x: hidden !important;
}
body {
  position: relative;
  font-family: "Sofia" !important;
  font-weight: 300 !important;
  font-style: normal;
  scroll-snap-align: y mandatory;
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
}
.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  flex-grow: 1;
}
._page {
  min-height: 100vh;
  height: auto;
  flex: 1;
}

._landing {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to bottom, $Blue, $LightBlue);
  ._contents {
    display: flex;
    align-items: center;
    justify-content: center;
    ._img_banner {
      position: absolute;
      width: 380px;
      height: 380px;
      @media screen and (max-width: 950px) {
        width: 300px;
        height: 300px;
      }
      @media screen and (max-width: 500px) {
        width: 250px;
        height: 250px;
      }
      object-fit: contain;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    ._caption {
      width: 100%;
      display: flex;
      justify-content: space-between;
      z-index: 10;
      span {
        display: inline-block;
        font-size: 8rem;
        font-weight: 800;
        color: $Text;
        @media screen and (max-width: 650px) {
          font-size: 5rem;
        }
        @media screen and (max-width: 620px) {
          font-size: 4rem;
        }
        &:first-child {
          position: relative;
          left: -10px;
        }
        @media screen and (max-width: 620px) {
          &:first-child {
            left: 0;
          }
        }
        &:last-child {
          position: relative;
          left: 1.8rem;
        }
        @media screen and (max-width: 620px) {
          &:last-child {
            left: 0;
          }
        }
      }
    }
  }
  ._btn_list {
    position: absolute;
    width: 100%;
    transform: translateY(-50%);
    top: 90%;
    text-align: center;
    ._btn {
      @include BTN();
      &._btn_white {
        @include BTN_WHITE();
      }
      &:first-child {
        margin-right: 1rem;
      }
      @media (max-width: 442px) {
        &:first-child {
          margin-bottom: 1rem;
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

._bottom {
  position: relative;
  background: radial-gradient($SkinLight, $SkinDark);
  display: flex;
  flex-direction: column;
  ._contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
    justify-content: space-around;
    ._caption {
      color: $White;
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: 100;
      letter-spacing: 14px;
    }
    ._img_banner {
      width: 500px;
      object-fit: contain;
      @media screen and (max-width: 720px) {
        width: 300px;
      }
    }
  }
  ._btn_list {
    position: absolute;
    width: 100%;
    transform: translateY(-50%);
    top: 90%;
    text-align: center;
    ._btn {
      @include BTN();
      &._btn_white {
        @include BTN_WHITE();
      }
      &:first-child {
        margin-right: 1rem;
      }
      @media (max-width: 442px) {
        &:first-child {
          margin-bottom: 1rem;
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

// ***********************second page********************************

//first-section
._main_page_second {
  flex: 1;
  min-height: 100vh;
  height: auto;
  position: relative;
  background: linear-gradient(to bottom, $Blue, $LightBlue);
  ._content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media screen and (max-width: 991px) {
      top: 30% !important;
    }
    ._img_banner {
      width: 450px;
      @media screen and (max-width: 800px) {
        width: 300px;
      }
    }
  }
  ._description {
    position: absolute;
    top: 90%;
    width: 80%;
    margin: auto;
    transform: translate(12%, -100%);
    @media screen and (max-width: 991px) {
      width: 100% !important;
      transform: translate(0%, -100%) !important;
    }
    ._btn_black {
      @include BTN();
      @include BTN_WHITE();
    }
    ._desc {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-right: 1px solid $White;
      text-align: center;
      @media screen and (max-width: 991px) {
        border-right: 0;
        margin-bottom: 14px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      &:last-child,
      &:nth-child(3) {
        border-right: 0;
      }
      span {
        font-family: Arial, Helvetica, sans-serif;
        display: block;
        font-size: 1.3rem;
        color: $White;
        &._minature {
          font-size: 12px;
          font-weight: 100;
        }
      }
    }
  }
}

//second-section
._versatility {
  position: relative;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 0rem;
  @media screen and (max-width: 755px) {
    padding: 5rem 0rem !important;
  }
  ._contents {
    display: flex;
    @media screen and (max-width: 770px) {
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }
    width: 80%;
    justify-content: space-evenly;
    ._img_banner {
      position: relative;
      width: 500px;
      z-index: 1;
      @media screen and (max-width: 1000px) {
        width: 400px;
      }
      @media screen and (max-width: 770px) {
        width: 250px;
      }
      &::before {
        @media screen and (max-width: 770px) {
          width: 300px;
          height: 300px;
        }
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: "";
        position: absolute;
        width: 400px;
        height: 400px;
        border-radius: 50%;
        background: radial-gradient($LightBlue, $Blue);
        z-index: -1;
      }
      ._img_object {
        width: 100%;
      }
    }
    ._labels {
      @media screen and (max-width: 770px) {
        margin-top: 3rem;
      }
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      ._labl {
        text-align: center;
        @media screen and (max-width: 770px) {
          padding-bottom: 1rem;
        }
        &._pic_labl {
          position: relative;
          ._labelling {
            position: absolute;
            top: 50%;
            left: -450px;
            width: 420px;
            height: 1px;
            transform: translateY(-50%);
            background: $Dark;
            z-index: 10;
            @media screen and (min-width: 2560px) {
              width: 600px !important;
              left: -550px !important;
            }
            @media screen and (min-width: 1920px) {
              width: 600px !important;
              left: -650px !important;
            }
            @media screen and (min-width: 1680px) {
              width: 500px !important;
              left: -540px !important;
            }
            @media screen and (max-width: 770px) {
              left: 42% !important;
              transform: translateX(-50%) !important;
              transform: translateY(0%) !important;
              top: -240px !important;
              width: 1px !important;
              height: 240px !important;
            }
          }
          &:nth-of-type(2) {
            ._labelling {
              @media screen and (min-width: 2560px) {
                width: 360px !important;
                left: -350px !important;
              }
              @media screen and (max-width: 770px) {
                left: 45% !important;
                transform: translateX(-50%) !important;
                transform: translateY(0%) !important;
                top: -280px !important;
                width: 1px !important;
                height: 280px !important;
              }
              left: -340px !important;
              width: 340px !important;
              @media screen and (min-width: 1920px) {
                width: 450px !important;
                left: -480px !important;
              }
              @media screen and (min-width: 1680px) {
                width: 500px !important;
                left: -540px !important;
              }
            }
          }
          &:nth-of-type(3) {
            ._labelling {
              @media screen and (max-width: 770px) {
                left: 50% !important;
                transform: translateX(-50%) !important;
                transform: translateY(0%) !important;
                top: -285px !important;
                width: 1px !important;
                height: 285px !important;
              }
              left: -100px !important;
              width: 80px !important;
              @media screen and (min-width: 2560px) {
                width: 350px !important;
                left: -350px !important;
              }
              @media screen and (min-width: 1920px) {
                width: 250px !important;
                left: -250px !important;
              }
              @media screen and (min-width: 1680px) {
                width: 250px !important;
                left: -250px !important;
              }
            }
          }
          &:nth-of-type(4) {
            ._labelling {
              @media screen and (max-width: 770px) {
                left: 50% !important;
                transform: translateX(-50%) !important;
                transform: translateY(0%) !important;
                top: -250px !important;
                width: 1px !important;
                height: 240px !important;
              }
              left: -150px !important;
              width: 130px !important;
              @media screen and (min-width: 2560px) {
                width: 400px !important;
                left: -420px !important;
              }
              @media screen and (min-width: 1920px) {
                width: 270px !important;
                left: -300px !important;
              }
              @media screen and (min-width: 1680px) {
                width: 270px !important;
                left: -300px !important;
              }
            }
          }
        }
        a {
          position: absolute;
          top: 90%;
          right: 10%;
          @media screen and (max-width: 740px) {
            position: inherit !important;
            margin-bottom: -4rem;
          }
          transform: translateY(-50%);
          @include BTN();
        }
        @media screen and (max-width: 1000px) {
          &:nth-of-type(2),
          &:nth-of-type(3),
          &:nth-of-type(4) {
            left: 0 !important;
          }
        }
        &:nth-of-type(1) {
          position: relative;
          @media screen and (min-width: 2560px) {
            left: -12rem;
          }
          @media screen and (max-width: 770px) {
            left: -1.5rem !important;
          }
        }
        &:nth-of-type(2) {
          position: relative;
          left: -8rem;
          @media screen and (min-width: 2560px) {
            left: -25rem;
          }
          @media screen and (min-width: 770px) {
            left: -6rem !important;
          }
        }
        &:nth-of-type(3) {
          position: relative;
          left: -4rem;
          @media screen and (max-width: 770px) {
            left: 6rem !important;
          }
          @media screen and (min-width: 2560px) {
            left: -10rem !important;
          }
        }
        &:nth-of-type(4) {
          position: relative;
          left: -1rem;
          @media screen and (max-width: 770px) {
            left: 2.5rem !important;
          }
          @media screen and (min-width: 2560px) {
            left: -4rem !important;
          }
        }
        span {
          font-size: 1.6rem;
          font-weight: 600 !important;
          @media screen and (max-width: 770px) {
            font-size: 1.2rem !important;
          }
          @media screen and (max-width: 1000px) {
            font-size: 1.4rem;
          }
          &._miniature {
            @media screen and (max-width: 770px) {
              font-size: 10px !important;
            }
            display: flex;
            flex-direction: column;
            font-size: 11px;
          }
        }
      }
    }
  }
}

//third-section
._sustainability {
  background: $White;
  ._description {
    ._btn_black {
      @include BTN();
      background: $Dark !important;
      color: $White !important;
      &:hover {
        color: $Dark !important;
        border: 1px solid $Dark !important;
      }
    }
    ._desc {
      border-right: 1px solid $Dark !important;
      @media screen and (max-width: 990px) {
        border-right: 0 !important;
      }
      &:nth-of-type(3),
      &:nth-of-type(4) {
        border-right: 0 !important;
      }
      span {
        font-weight: 600 !important;
        color: $Dark !important;
        font-size: 15px !important;
        ._minature {
          font-size: inherit;
        }
      }
    }
  }
}

//fourth-section
._yt_section {
  ._cover {
    position: relative;
    width: 100%;
    height: 100vh;
    ._banner {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    ._playIcon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      ._icon {
        &:hover {
          opacity: 0.3;
          transition: all 0.4s ease-in-out;
        }
        width: 280px;
        opacity: 0.2;
        transition: all 0.4s ease-in-out;
        cursor: pointer;
      }
    }
    ._img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    ._desc {
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      h2 {
        text-align: center;
        font-size: 4rem;
        color: $White;
        text-transform: uppercase;
        letter-spacing: 20px;
      }
    }
    ._buy {
      position: absolute;
      left: 50%;
      top: 90%;
      transform: translate(-50%, -50%);
      a {
        @include BTN();
        @include BTN_WHITE();
      }
    }
  }
}

//fifth section
._specifications {
  background: #eee;
  .container {
    padding: 8rem 0rem;
  }
  ._col {
    margin: 0 !important;
    padding: 0 !important;
    @media screen and (max-width: 767px) {
      &:first-child {
        padding-bottom: 2rem !important;
      }
      &:nth-of-type(3),
      &:nth-of-type(4) {
        margin-top: 2rem !important;
      }
    }
  }
  ._content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    ._content_main {
      padding: 0 2rem;
      @media screen and (max-width: 750px) {
        padding: 1rem 1rem !important;
      }
      h2 {
        font-weight: bold !important;
        padding: 8px 0px;
        text-transform: uppercase;
      }
      p {
        font-size: 14px;
      }
    }
  }
  ._img_banner {
    height: 400px;
    overflow: hidden;
  }
}

//sixth-section
._specs_2 {
  ._content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 7rem;
    @media screen and (max-width: 1100px) {
      padding: 2rem 3rem;
    }
    @media screen and (max-width: 750px) {
      padding: 2rem 1rem !important;
    }
    h2 {
      font-weight: bold !important;
      text-transform: uppercase;
      letter-spacing: 4px;
    }
    p {
      font-size: 14px;
      padding: 1rem 0rem;
    }
    a {
      @include BTN();
    }
  }
  ._img_banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover !important;
    }
  }
}

//seventh-section
._img_section {
  display: flex;
  flex-direction: column;
  ._img_banner {
    width: 100%;
    height: 70vh;
    overflow: hidden !important;
    ._img {
      width: 100%;
      height: 100% !important;
      object-fit: cover;
    }
  }
  ._content {
    min-height: 30vh;
    height: auto;
    margin-top: -2rem;
    padding: 2rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    h2 {
      font-size: 1.5rem;
      letter-spacing: 2px;
      font-weight: bold !important;
      text-transform: uppercase;
    }
    p {
      font-size: 14px;
    }
    a {
      @include BTN();
      position: relative;
      top: -6px;
    }
  }
}

//eighth-section
._specifications_two {
  background: radial-gradient($GredGray, $GredGrayCenter);
  ._main {
    min-height: 100vh;
    height: auto;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    ._img_banner {
      width: 340px !important;
      @media screen and (max-width: 850px) {
        padding: 4rem 0rem !important;
        width: 500px !important;
      }
      @media screen and (max-width: 600px) {
        padding: 4rem 0rem !important;
        width: 250px !important;
      }
      ._img {
        width: 100%;
        object-fit: contain;
      }
    }
    ._description {
      h2 {
        display: flex;
        flex-direction: column;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.6rem;
        letter-spacing: 2px;
        color: $White;
        span {
          &:last-child {
            margin-top: 4px;
          }
        }
      }
      ._list {
        margin-top: 2rem;
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: 0;
        li {
          position: relative;
          display: flex;
          flex-direction: column;
          padding: 10px 0px;
          color: $White;
          font-size: 15px;
          @media screen and (max-width: 600px) {
            font-size: 14px !important;
          }
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 1px;
            background: $White;
          }
        }
      }
    }
    ._btn_buy {
      padding: 3rem 0rem;
      a {
        @include BTN();
        @include BTN_WHITE();
      }
    }
  }
}

//nineth-section
._compare {
  background: #ddd;
  ._heading {
    text-align: center;
    padding: 4rem 0rem;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: bold !important;
    @media screen and (max-width: 480px) {
      font-size: 1.4rem !important;
    }
  }
  ._cont {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h4 {
      text-transform: uppercase;
      font-size: 1.4rem;
      @media screen and (max-width: 480px) {
        font-size: 1.2rem;
        font-weight: bold !important;
      }
    }
    ._price {
      padding: 1rem 0rem;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 2px;
      display: flex;
      align-items: center;
      @media screen and (max-width: 480px) {
        font-size: 12px;
      }
      span {
        display: block;
        &:first-child {
          @media screen and (max-width: 480px) {
            font-size: 1rem !important;
          }
          @media screen and (max-width: 1100px) {
            font-size: 1.2rem !important;
          }
          font-size: 1.4rem;
          font-weight: bold !important;
        }
        &:last-child {
          margin-left: 1rem;
          position: relative;
          top: 1.5px;
        }
      }
    }
    ._buy {
      padding: 1rem 0rem;
      a {
        @include BTN();
      }
    }
    ._img_banner {
      padding: 2rem 0rem;
      position: relative;
      width: 250px;
      ._img {
        width: 100%;
        object-fit: contain;
      }
    }
  }
  ._listing_models {
    padding: 2rem 0rem;
    ._item {
      padding: 2rem 0rem;
      @media screen and (max-width: 580px) {
        padding: 2rem 2rem;
      }
      border-top: 2px solid $Dark;
      h4 {
        @media screen and (max-width: 580px) {
          font-size: 1.2rem;
        }
        font-size: 1.4rem;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
      ._desc {
        font-size: 14px;
        @media screen and (max-width: 580px) {
          font-size: 12px;
        }
      }
    }
  }
}

._asidebar {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 40px;
  @media screen and (max-width: 670px) {
    left: 10px !important;
  }
  transform: translateY(-50%);
  &._dark {
    ._attr {
      a {
        &:hover {
          color: $Dark !important;
        }
        &._active {
          color: $Dark;
        }
        &::before {
          background: $Dark !important;
        }
      }
    }
  }
  ._attr {
    a {
      &:hover {
        color: $White;
        transition: color 0.4s ease;
      }
      transition: color 0.4s ease;
      position: relative;
      padding: 1.4rem;
      display: flex;
      align-items: center;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 4px;
        background: $White;
        height: 100%;
      }
      opacity: 0.4;
      cursor: pointer !important;
      &._active {
        opacity: 1;
        color: $White;
      }
      margin-bottom: 4px;
      text-decoration: none;
      font-size: 10px;
      letter-spacing: 2px;
      color: transparent;
    }
  }
}

//newsletter
._launch_modal {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: -100%;
}
._modal_newsletter {
  ._close_btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 2px solid $White;
    @media screen and (max-width: 761px) {
      right: 20px !important;
      border: 2px solid $Dark !important;
    }
    background: transparent;
    padding: 2px 6px !important;
    opacity: 0.6;
    &:hover {
      opacity: 0.8;
    }
    span {
      font-size: 1.2rem;
      color: $White;
      @media screen and (max-width: 761px) {
        color: $Dark !important;
      }
    }
  }
}
._newsletter {
  ._img_banner {
    height: 100vh !important;
    overflow: hidden;
    ._img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .list-group {
    .list-group-item {
      border: none !important;
    }
  }
  ._form {
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    font-size: 14px !important;
    ._heading {
      display: flex;
      flex-direction: column;
      text-transform: uppercase;
      font-size: 1.6rem;
      font-weight: bolder !important;
      span {
        margin: 4px 0px;
      }
    }
    ._input_form {
      .form-group {
        margin-bottom: 10px;
        ._input_field {
          padding: 8px 14px;
          font-size: 14px;
          border: 0;
          background: #eee;
          &::placeholder {
            font-size: 13px;
            color: rgb(204, 201, 201);
          }
        }
        &._btn_submit {
          margin-top: 1.4rem;
          ._btn {
            padding: 10px 20px !important;
            @include BTN();
            font-size: 12px !important;
          }
        }
      }
    }
  }
}
