/** @format */
/** @format */
@font-face {
  font-family: "Sofia";
  src: url("../slt/fonts/Sofia Pro Light.otf");
  src: url("../slt/fonts/Sofia Pro Regular.otf");
  src: url("../slt/fonts/Sofia Pro Semi Bold.otf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Sofia", sans-serif !important;
  font-weight: 100;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

._page {
  min-height: 100vh;
  height: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

._landing {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#2f4459), to(#526373));
  background: linear-gradient(to bottom, #2f4459, #526373);
}

._landing ._content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

._landing ._content ._img_banner {
  position: absolute;
  width: 380px;
  height: 380px;
  -o-object-fit: contain;
     object-fit: contain;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 950px) {
  ._landing ._content ._img_banner {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 500px) {
  ._landing ._content ._img_banner {
    width: 250px;
    height: 250px;
  }
}

._landing ._content ._caption {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
}

._landing ._content ._caption span {
  display: inline-block;
  font-size: 8rem;
  font-weight: 800;
  color: #657584;
}

@media screen and (max-width: 650px) {
  ._landing ._content ._caption span {
    font-size: 5rem;
  }
}

@media screen and (max-width: 620px) {
  ._landing ._content ._caption span {
    font-size: 4rem;
  }
}

._landing ._content ._caption span:first-child {
  position: relative;
  left: -10px;
}

@media screen and (max-width: 620px) {
  ._landing ._content ._caption span:first-child {
    left: 0;
  }
}

._landing ._content ._caption span:last-child {
  position: relative;
  left: 1.8rem;
}

@media screen and (max-width: 620px) {
  ._landing ._content ._caption span:last-child {
    left: 0;
  }
}

._landing ._btn_list {
  position: absolute;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 90%;
  text-align: center;
}

._landing ._btn_list ._btn {
  background: #333333;
  padding: 10px 50px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 800;
  letter-spacing: 4px;
  border: 1px solid #333333;
}

._landing ._btn_list ._btn:hover {
  background: transparent;
  color: #333333;
  border: 1px solid #333333;
}

._landing ._btn_list ._btn._btn_white {
  background: #ffffff;
  border: 1px solid #ffffff;
  color: #333333;
}

._landing ._btn_list ._btn._btn_white:hover {
  background: transparent !important;
  border: 1px solid #ffffff;
  color: #ffffff;
}

._landing ._btn_list ._btn:first-child {
  margin-right: 1rem;
}

@media (max-width: 442px) {
  ._landing ._btn_list ._btn:first-child {
    margin-bottom: 1rem;
  }
}

._landing ._btn_list ._btn:last-child {
  margin-right: 0;
}

._bottom {
  position: relative;
  background: radial-gradient(#c9a79d, #926b5d);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._bottom ._content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

._bottom ._content ._caption {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 14px;
}

._bottom ._content ._img_banner {
  width: 500px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 720px) {
  ._bottom ._content ._img_banner {
    width: 300px;
  }
}

._bottom ._btn_list {
  position: absolute;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 90%;
  text-align: center;
}

._bottom ._btn_list ._btn {
  background: #333333;
  padding: 10px 50px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 800;
  letter-spacing: 4px;
  border: 1px solid #333333;
}

._bottom ._btn_list ._btn:hover {
  background: transparent;
  color: #333333;
  border: 1px solid #333333;
}

._bottom ._btn_list ._btn._btn_white {
  background: #ffffff;
  border: 1px solid #ffffff;
  color: #333333;
}

._bottom ._btn_list ._btn._btn_white:hover {
  background: transparent !important;
  border: 1px solid #ffffff;
  color: #ffffff;
}

._bottom ._btn_list ._btn:first-child {
  margin-right: 1rem;
}

@media (max-width: 442px) {
  ._bottom ._btn_list ._btn:first-child {
    margin-bottom: 1rem;
  }
}

._bottom ._btn_list ._btn:last-child {
  margin-right: 0;
}
/*# sourceMappingURL=style.css.map */